*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-bg:#656565  ;
  --color-post: #fcfad1  ; 
  --color-post-important: #da7569  ; 
  --color-black: #23272a;
  
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

/* ------------- GENERAL STYLES ------------- */

body {
  background-color: var(--color-bg);
  font-family: sans-serif;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}


/* ------------- MEDIA QUERIES (MEDIUM DEVICES) ------------- */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

/* ------------- MEDIA QUERIES (SMALL DEVICES) ------------- */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}

